html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	background-color: #333333;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	margin: 0 20%;
}

.shadow {
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#header {
	height: 64px;
	width: 100%;
	background-color: #222222;
}

#header-title {
	color: #EEEEEE;
	font-size: 36px;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

#body {
	height: 100%;
}

.vod-entry {
	width: 30%;
	float: left;
	margin: 1.5%;
	cursor: pointer;
}

.vod-entry .image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.vod-entry img {
	width: 100%;
	object-fit: cover;
	margin-top: -9.5%;
	margin-bottom: -9.5%;
}

.vod-entry .overlay-container {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
}

.overlay-container .views {
	float: left;
}

.overlay-container .length {
	float: right;
}

.overlay-container div {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	padding: 5px;
	color: white;
}

.game-overlay {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	padding: 5px;
	color: white;
}

.info-container {
	width: 100%;
	background-color: #BBBBBB;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.info-container .title {
	float: left;
	padding: 15px 10px;
	font-size: 18px;
	font-weight: bold;
}

.info-container .date {
	float: right;
	padding: 15px 10px;
}

#player {
	display: none;
	height: 100%;
}

#video-player {
	height: 100%;
	width: -moz-calc(100% - 390px);
	width: -webkit-calc(100% - 390px);
	width: calc(100% - 390px);
	float: left;
}

#video-player iframe {
	height: -moz-calc(100% - 64px);
	height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
	width: 100%;
}

#chat-stream {
    height: calc(100% - 64px);
    width: 390px;
	float: right;
	font-size: 13px;
	padding: 10px;
	color: #EEEEEE;
	overflow-y: scroll;
	box-sizing: border-box;
}

.chat-line {
	margin-bottom: 10px;
	word-wrap: break-word;
}

.chat-line .username {
	color: #AAAAAA;
}
