html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	background-color: #333333;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	margin: 0 20%;
}

.shadow {
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#header {
	height: 72px;
	width: 100%;
	background-color: #222222;
	display: flex;
	justify-content: space-between;
}

#header-title {
	color: #DDD;
	font-size: 36px;
	padding: 15px;
	cursor: pointer;
}

#header-title:hover {
	color: white;
}

#header-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 20px;
}

#header-links div {
	margin-right: 24px;
}

#header-links div a {
	color: #CCC;
	cursor: pointer;
	text-decoration: none;
}

#header-links div a:hover {
	color: white;
}

#body {
	height: 100%;
}

.vod-entry {
	width: 30%;
	float: left;
	margin: 1.5%;
	cursor: pointer;
}

.vod-entry .image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.vod-entry img {
	width: 100%;
	object-fit: cover;
	margin-top: -9.5%;
	margin-bottom: -9.5%;
}

.vod-entry .overlay-container {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	display: flex;
	justify-content: space-between;
}

.overlay-container div {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	padding: 5px;
	color: white;
}

.game-overlay {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	padding: 5px;
	color: white;
}

.info-container {
	width: 100%;
	background-color: #BBBBBB;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: flex;
	justify-content: space-between;
}

.info-container .title {
	padding: 15px 10px;
	font-size: 18px;
	font-weight: bold;

	flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-container .date {
	padding: 15px 10px;
	text-align: right;
}

#player {
	display: none;
	height: 100%;
}

#video-player {
	height: 100%;
	width: -moz-calc(100% - 390px);
	width: -webkit-calc(100% - 390px);
	width: calc(100% - 390px);
}

#video-player iframe {
	height: -moz-calc(100% - 72px);
	height: -webkit-calc(100% - 72px);
	height: calc(100% - 72px);
	width: 100%;
}

#chat-container {
	height: -moz-calc(100% - 72px);
	height: -webkit-calc(100% - 72px);
	height: calc(100% - 72px);
	width: 390px;
}

#chat-stream {
	height: -moz-calc(100% - 48px);
	height: -webkit-calc(100% - 48px);
	height: calc(100% - 48px);
	font-size: 13px;
	padding: 10px;
	color: #EEEEEE;
	overflow-y: scroll;
	box-sizing: border-box;
	background: #080808;
}


.chat-line {
	clear: both;
	word-wrap: break-word;
	padding: 3px 20px 3px 5px;
	vertical-align: middle;
	line-height: 1.5em;
}

.chat-line .username {
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	color: #CACACA;
}

.chat-line .message {
	vertical-align: middle;
	color: #999999;
}

.chat-line .emote {
	background-image: url("../emoticons/emotes.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 10px;
	margin: 0 2px;
	overflow: hidden;
	text-indent: -90000px;
	vertical-align: middle;
}

.chat-line a.externallink {
	color: #02C2FF;
	position: relative;
	z-index: 120;
	text-decoration: none;
}

.chat-line a.externallink:hover {
	text-decoration: underline;
}

.chat-line a.externallink:visited {
	color: #A66BE5;
}

.chat-line .greentext {
	color: #6CA528;
}

.skip-message {
	background-color: #222;
	padding: 10px;
}

/* Chat Controls */

#chat-controls {
	height: 48px;
}

#non-skip-controls {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}

#skip-controls {
	height: 100%;
	display: none;
	justify-content: space-around;
	align-items: center;
	color: white;
}

#skip-time-input {
	height: 24px;
	width: 100px;
	text-align: center;
	font-family: 'Ubuntu Mono', monospace;
}

#chat-controls .octicon {
	font-size: 32px;
}

#play-button {
	display: none;
}

#play-button, #stop-button, #skip-view-button, #back-button, #skip-button {
	cursor: pointer;
} 

#chat-time {
	font-family: 'Ubuntu Mono', monospace;
}

/* Scroll Bar Style */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  background-color: #EEEEEE;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
